@import "tailwindcss/base";
@import "tailwindcss/components";
@import "/tailwind.config.js";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Telachtergrond {
    width: 350px;
    height: 600px;
}

* {
    font-family: 'Roboto', sans-serif;
}